<div class="row text-center justify-between mx-auto">
    <div class="p-2 mb-2 bg-primary text-white float-end position-relative" style="z-index: 1;">
        <div *ngIf="authService.getRole() === 'ADMIN'">
            <span class="position-absolute top-0 start-0">
                <p-dropdown [options]="usersArray" [(ngModel)]="selectedUser" placeholder="Select a User"
                    optionLabel="name" inputId="float-label"
                    (ngModelChange)="onUserSelectionChange($event)"></p-dropdown>
            </span>
        </div>
        Calendar
        <div class="d-inline-block position-absolute top-0 end-0">
            <button class="btn btn-link" (click)="logout()">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" class="bi bi-box-arrow-right"
                        viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                        <path fill-rule="evenodd"
                            d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                    </svg>
                </span>
            </button>
        </div>
    </div>

    <div class="col-md-4">
        <div class="btn-group">
            <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()">
                Previous
            </div>
            <div class="btn btn-outline-secondary change-on-hover" mwlCalendarToday [(viewDate)]="viewDate">
                Today
            </div>
            <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()">
                Next
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <div class="col-md-4 mb-2">
        <div class="btn-group">
            <div class="btn btn-primary" (click)="setView(CalendarView.Month)"
                [class.active]="view === CalendarView.Month">
                Month
            </div>
            <div class="btn btn-primary" (click)="setView(CalendarView.Week)"
                [class.active]="view === CalendarView.Week">
                Week
            </div>
            <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
                Day
            </div>
        </div>
    </div>
    <button class="btn btn-primary float-end" (click)="addEvent()">
        Add new
    </button>
</div>

<br />
<div [ngSwitch]="view" style="max-width: 95%; margin: 0 auto;">
    <mwl-calendar-month-view override *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate"
        [events]="(events | async) ?? []" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)" (eventClicked)="openModal($event.event)"
        (eventTimesChanged)="eventTimesChanged($event)" [cellTemplate]="customCellTemplate">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="(events | async) ?? []"
        [refresh]="refresh" (eventClicked)="openModal($event.event)" [dayStartHour]="7" [dayEndHour]="24"
        (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="(events | async) ?? []"
        [refresh]="refresh" (eventClicked)="openModal($event.event)" [dayStartHour]="7" [dayEndHour]="24"
        (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
</div>

<ng-template #customCellTemplate let-day="day" let-locale="locale">
    <div class="day-number">
        <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
        <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
    </div>
    <div *ngIf="day.badgeTotal > 0">
        <div *ngFor="let event of day.events.slice(0, 2)" class="event-item" (click)="openModal(event)">
            <span class="event-color" [ngStyle]="{'background-color': event.color.primary}"></span>
            <span class="event-title">{{event.title}}</span>
        </div>
    </div>
    <small style="margin-bottom: 2px; color: gray; display: block; text-align: center;" *ngIf="day.badgeTotal > 2">see
        more ...</small>
</ng-template>


<ng-template #modalContent let-close="close" style="margin-top: 0;">
    <app-modal [modalData]="modalData" [action]="action" [refresh]="refresh"
        (selectedItemsChange)="receiveData($event)">
    </app-modal>
</ng-template>

<ng-template #collabContent let-close="close">
    <app-collab-modal [modalData]="modalData">
    </app-collab-modal>
</ng-template>