<div class="row text-center justify-between mx-auto">
    <div class="p-2 mb-2 bg-primary text-white float-end position-relative" style="z-index: 1;">
        <div *ngIf="authService.getRole() === 'ADMIN'">
            <span class="position-absolute top-0 start-0">
                <p-dropdown [options]="usersArray" [(ngModel)]="selectedUser" placeholder="Select a User"
                    optionLabel="name" inputId="float-label"
                    (ngModelChange)="onUserSelectionChange($event)"></p-dropdown>
            </span>
        </div>
        Calendar
        <button class="btn btn-link d-inline-block position-absolute top-0 end-0 ml-2" (click)="logout()">
            <img src="assets/logout.png" alt="logout" width="30" height="25">
        </button>
    </div>

    <div class="col-md-4">
        <div class="btn-group">
            <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()">
                Previous
            </div>
            <div class="btn btn-outline-secondary change-on-hover" mwlCalendarToday [(viewDate)]="viewDate">
                Today
            </div>
            <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()">
                Next
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <div class="col-md-4 mb-2">
        <div class="btn-group">
            <div class="btn btn-primary" (click)="setView(CalendarView.Month)"
                [class.active]="view === CalendarView.Month">
                Month
            </div>
            <div class="btn btn-primary" (click)="setView(CalendarView.Week)"
                [class.active]="view === CalendarView.Week">
                Week
            </div>
            <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
                Day
            </div>
        </div>
    </div>
    <button class="btn btn-primary float-end" (click)="addEvent()">
        Add new
    </button>
</div>

<br />
<div [ngSwitch]="view" style="max-width: 95%; margin: 0 auto;">
    <!-- (dayClicked)="dayClicked($event.day)" -->
    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="(events | async) ?? []"
        [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen"
        (eventClicked)="openModal($event.event)" (eventTimesChanged)="eventTimesChanged($event)"
        [cellTemplate]="customCellTemplate">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="(events | async) ?? []"
        [refresh]="refresh" (eventClicked)="openModal($event.event)" [dayStartHour]="7" [dayEndHour]="24"
        (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="(events | async) ?? []"
        [refresh]="refresh" (eventClicked)="openModal($event.event)" [dayStartHour]="7" [dayEndHour]="24"
        (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
</div>

<ng-template #customCellTemplate let-day="day" let-locale="locale">
    <div>
        <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
        <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
    </div>
    <div *ngIf="day.badgeTotal > 0">
        <div *ngFor="let event of day.events.slice(0, 2)" class="event-item" (click)="openModal(event)">
            <span class="event-color" [ngStyle]="{'background-color': event.color.primary}"></span>
            <span class="event-title">{{event.title}}</span>
        </div>
    </div>
    <small style="margin-bottom:2px;" *ngIf="day.badgeTotal > 2">There are {{ day.events.length }} events on this day</small>
</ng-template>


<ng-template #modalContent let-close="close">
    <app-modal [modalData]="modalData" [action]="action" [refresh]="refresh" (selectedItemsChange)="receiveData($event)">
    </app-modal>
</ng-template>